.circular-gallery {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circular-gallery canvas {
  width: 100% !important;
  height: 100% !important;
  cursor: grab;
}

.circular-gallery canvas:active {
  cursor: grabbing;
}
