.scroll-reveal {
  margin: 0;
  padding: 0;
}

.scroll-reveal-text {
  margin: 0;
  padding: 0;
  display: inline;
}

.scroll-reveal .word {
  display: inline-block;
  white-space: pre-wrap;
  will-change: opacity, filter;
}
